.navbar {
    height          : 55px;
    background-color: white;
}

.avatar {
    background-color: white;
    ;
    border: none;
}

.item-header {
    padding         : 5px;
    background-color: #fff;
    margin          : 5px;
    cursor          : pointer;
}

.item-header:hover {
    background-color: black;
}