.navbar {
    height          : 55px;
    background-color: white;
}

.avatar {
    background-color: white;
    ;
    border: none;
}

.item-header {
    padding         : 8px;
    background-color: #fff;
    margin          : 5px;
    cursor          : pointer;
    text-decoration : none;
}

.item-header:hover {
    background-color: rgb(235, 232, 232);
}

.active-link {
    background-color: rgb(235, 232, 232);
}