.gift-hover:hover {
    background-color: #d3d3d3;
    /* Màu nền xám đậm hơn khi hover */
}

.gift-hover {
    background-color: #f0f0f0;
    position        : relative;
}

.action-num {
    position        : absolute;
    top             : 0;
    right           : 0;
    font-size       : 15px;
    padding-left    : 4px;
    padding-right   : 4px;
    border-radius   : 10px;
    background-color: #FF6F6F;
}

.search-user {
    margin-left: 20px;
}

.header-user {
    display        : flex;
    justify-content: space-between;
}

.button-user {
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 10px;
}