@import "../variables";

.footer {
  background-color: white;
  position        : fixed;
  bottom          : 0;
  width           : 100%;
  z-index         : 1000;
  padding         : 0.7%;
  box-shadow      : 0 -1px 5px rgba(0, 0, 0, 0.1);
  height          : 60px;
}

.footer-container {
  max-width      : $userWidth;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin         : 0 auto;
  height         : 100%;
}

.footer-btn {
  background-color: transparent;
  border          : none;
  color           : $secondary;
  font-size       : 16px;
  font-weight     : bold;
  padding         : 10px;
  margin-top      : 0px;
  cursor          : pointer;
}

.footer-btn :hover {
  background-color: #f2f2f2;
}


@media (max-width: 575.98px) {
  .footer {
    padding: 1%;
  }
}